:root {
    padding: 0;
    margin: 0;
}

.btn-primary {
    background-color: #5e9bf1 !important;
    border-color: none !important;
}

.text-primary {
    color: #5e9bf1 !important;
}

.concert-thumb {
    height: 30vh;
    width: auto;
    object-fit: cover;
}

.details-img {
height: 70vh;
width: auto;
object-fit: cover;
}

/* HEADER */
.header-container {
    background-color: #6139c5; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#tag-line {
    font-size: 1.2rem; 
    font-weight: 300; 
    color: #EEE5E9;
}

.btn-primary {
    border-radius: 20px; /* Rounded buttons for a modern touch */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: translateY(-2px); /* Subtle lift effect */
}

.btn-secondary {
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
    background-color: #5a6268; /* Darker shade on hover */
    transform: translateY(-2px);
}

/* Dropdown menu styling */
.dropdown-menu {
    border-radius: 0.5rem; /* Rounded corners for dropdown */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.dropdown-item:hover {
    background-color: #f1f1f1; /* Highlight on hover */
}

/* Site Name */
#site-name {
    font-family: 'Arial', sans-serif; /* Choose a clean, professional font */
    font-weight: bold; /* Bold text for emphasis */
    font-size: 2rem; /* Larger size for visibility */
    letter-spacing: 1px; /* Spacing between letters for readability */
    color: #EEE5E9; /* Dark color for good contrast */
    text-transform: uppercase; /* Make the text uppercase for a strong presence */
    margin: 0; /* Remove default margin */
    align-items: center; 
    transition: color 0.3s; /* Smooth color transition on hover */
}

#site-name a {
    text-decoration: none;
    color: inherit;
}

#site-name:hover {
    color: #007bff; /* Change color on hover for interactivity */
}

/* Optional: Adding an icon before the text */
#site-name::before {
    content: url('/vite.svg'); /* Path to your logo/icon */
    width: 50px; /* Adjust icon size */
    height: 50px; /* Adjust icon size */
    margin-right: 10px; /* Space between icon and text */
}

.ticket {
    border: 2px dashed black;
}

.ticket-body {
    background-color: #fefae0;
}

.ticket-title {
    color:#5e9bf1;
}